@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ujth74');
  src:  url('fonts/icomoon.eot?ujth74#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ujth74') format('truetype'),
    url('fonts/icomoon.woff?ujth74') format('woff'),
    url('fonts/icomoon.svg?ujth74#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-pin:before {
  content: "\e900";
}
.icon-Vector:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-visibility:before {
  content: "\e903";
}
.icon-local:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-credit_card:before {
  content: "\e906";
}
